

/* HOME =================== */
#home {
    overflow: hidden;
    min-height: 100vh;


    position: relative;
    z-index: 2;
}

header#home .content .image img.mobile {
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    aspect-ratio: 9/16;
    width: 100%;
    filter: brightness(.5);
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);
}

header#home .content .image img.desktop {
    display: none;
}

#home::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    mask-image: none;
    z-index: 3;
    left: 0;
    top: 0;

    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.549);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#home .content {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    gap: 5rem;
}

#home .content .text-content {
    position: relative;
    z-index: 5;
    margin-left: 1rem;
}

#home .content h1 {
    font-family: 'Satoshi';
    color: #fff;
    font-weight: 300;
    font-size: 2.8rem;
    width: 100%;
    margin-bottom: 1rem;

    position: relative;
}

#home .content h1::before {
    content: '';
    position: absolute;
    width: 10rem;
    height: 4px;
    background: linear-gradient(to right, #07991B, #F18805);
    top: -1rem;
    left: 0;
    border-radius: 3rem;
    font-weight: 800;
}

#home .content h1 span.span {
    font-weight: 800;
    font-family: 'Satoshi';
    background: linear-gradient(to right, #0db824 0%, #017010 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home .content h1 span {
    font-weight: 800;
    font-family: 'Satoshi';
    background: linear-gradient(165deg, #F18805 30%, #ff9d25 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home .content h3 {
    font-size: 1.6rem;
    color: var(--paragraphy);
    font-weight: 400;

    margin-bottom: 3rem;
}

#home .content .text-content p {
    font-size: 1.6rem;
    color: #f9f9f9;
    font-weight: 300;
}

#home .content .buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

#home .content a button {
    border-radius: 1rem;
    border: none;
    padding: 1rem 3rem;
    font-size: 1.6rem;

    transition: all 200ms ease-in-out;
}

#home .content a button:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 30px #0000007b;
    cursor: pointer;
}

#home .content a:nth-child(1) button {
    background: var(--orange);
    color: var(--white);
}

#home .content a:nth-child(2) button {
    background: var(--gradient);
    color: var(--white);
}

@media (min-width: 1080px) {  
    header#home {
        background-image: none;

        height: 90vh;
        min-height: initial;
        max-height: 90vh;

        border-radius: 0 0 10% 10%;
    }

    header#home .content {
        height: 90vh;
        min-height: initial;
        max-height: 90vh;
    }

    header#home .wrapper {
      width: min(300rem, 100%);
    }

    header#home .content {
        text-align: center;
        align-items: center;

        z-index: 2;
    }

    header#home .content .text-content {
        position: absolute;
        width: 70%;
        left: 20%;
        text-align: left;
        z-index: 5;
        top: 50%;
        transform: translate(0, -50%);
    }

    header#home .content .text-content img {
        width: 6rem;
        margin-bottom: 2rem;
    }

    header#home .content .text-content h1 {
        font-size: 5rem;
        width: 70%;
        margin-bottom: 2rem;
        line-height: .9;
    }

    header#home .content h1::before {
        height: 4px;
        top: -2rem;
        left: -1rem;
    }

    header#home .content .text-content p {
        font-size: 1.6rem;
        width: 50%;
        color: #ededed;
        font-weight: 300;

        margin-bottom: 3rem;
    }

    header#home .content .text-content p span {
        color: #fefefe;
        font-weight: 500;
    }

    header#home .content .buttons {
        margin-top: 2rem;
        flex-direction: row;
    }

    header#home .content .buttons a button {
        font-size: 2rem;
    }

    header#home .content .image img.mobile {
        display: none;
    }

    header#home .content .image img.desktop {
        display: initial;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        object-fit: cover;
        aspect-ratio: 16/9;
        width: 100%;
        filter: brightness(.4);
        
    }

    header#home::before {
        content: '';
        position: absolute;
        width: 70%;
        height: 100%;
        mask-image: none;
        z-index: 3;
        left: 0;
        top: 0;

        border: none;
        background: linear-gradient(to left, transparent, #000000a0);
    }
}

@media (min-width: 1400px) {
    header#home .content .text-content h1 {
        font-size: 6rem;
    }

    header#home .content .text-content p {
        font-size: 1.8rem;
    }
}

@media (min-width: 1700px) {
    header#home .content .text-content h1 {
        font-size: 7rem;
    }

    header#home .content .text-content p {
        font-size: 1.8rem;
    }
}